@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject IConfiguration Configuration
@implements IAsyncDisposable

<PageTitle>Reminders</PageTitle>
<h1>Reminders</h1>
<ul id="messagesList">
    @foreach (var reminder in reminders)
    {
        <li>@reminder</li>
    }
</ul>
@code {
    private HubConnection? hubConnection;
    private List<string> reminders = new List<string>();
    
    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Configuration["SignalR"])
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<string>("ReceiveMessage", (message) =>
        {
            var encodedMsg = $"{message}";
            reminders.Add(encodedMsg);
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}